@hoehe: 480px;
@breite: 250px;
@abstand: 10px;

.gleich {
  height: @hoehe;
  margin: @abstand;

  div {
    label {
      position: inherit;
    }
  }
}

.thumbnail {
  text-align: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9) !important;

  .btn{
    padding: 6px 0px;
  }

  .loeschen {

    width: 150px;
  }

  .ändern {

    width: 150px;
  }

  .caption{
    margin: 10px 0;
    width: 100%;
    right: 0;
    left: 0;
  }

  img {
    min-height: @hoehe/3;
    max-width: 100%;
    max-height: @hoehe/3;
  }

  label{
    width: 42px;
    margin-top: 1px;

    p {
      margin: 0;
    }
  }

  .nachlinks {
    width: 42px;
  }

  .nachrechts {
    width: 42px;
  }
}

.margin-15 {
  height: @hoehe;
  margin: @abstand+5px;
}

.hidden {
  display: none;
}

input {
  margin: 2px;
}
.margin-top-10 {
  margin-top: 10px;
}

.beschreibung {
  min-height: 120px;
  overflow: hidden;
}
#beschreibung {
  width: 350px;
  font-size: small !important;
}

.caption {
  margin: 0 10px 0 0;
  position: absolute;
  top: 190px;
}

#gallery {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.grid-item {
  width: 365px !important;
  padding-left: 0;

}

#modalButton {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 1px 0 0 2px;
  z-index: 2;
}

#löschenÄndern{
  top: 240px;
}

.sizeing {
  min-width: 22px;
  min-height: 16px;
  margin: 4px 10px 0 0 !important;

}

.beispiel {
  position: absolute;
  top: 35px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
  z-index: 2;
}

.sehendeKunden {
  margin: 100%;
  float: left;
}

.modalButtonEinstellungen {
  top: 4px;
  right: 4px;
  position: absolute;
  height: 30px;
  width: 30px !important;
  padding: 0!important;
}
#modalKundenButton {
  position: absolute;
  top: 80px;
  right: 10px;
  height: 30px;
  width: 30px;
  padding: 2px 0 0 0;
  z-index: 2;
}

.size{
  min-width: 165px;
  margin: 0 0 4px 0;
  text-align: left;
}

#aenderungenSpeichern {
  position: absolute;
  top: 122px;
  right: 116px;
}

#kundenHinzufuegen {
  position: absolute;
  top: 14px;
  right: 46px;
  height: 22px;
  width: 22px;
  padding: 0;

}

.kundenBtn{
  margin-bottom: 5px;
}
#kundenEntfernen {
  position: absolute;
  top: 15px;
  right:15px;
}
.margin-top-4{
  margin-top: 4px;
}