.containerAußen {
    width: 100%;
    height: 100%;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
}

.container {
    display: table-cell;
    vertical-align: middle;
}

.innererContainer {
    width: 360px;
    height: 650px;
    margin: 0 auto;
}

.background {
    background-image: url(../picture/login-test-18-August-2016-15-42-test.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
}

#gallery {
    z-index: -1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#gallery div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    vertical-align: middle;
}

.untenRechts {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 200px;
    background-color: #FFFFFF;
    color: #000;
    opacity: 0.7;
    padding: 5px;
    border-radius: 3px;
    margin: 10px;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.1);

}

/*
Transformicon code
The MIT License (MIT)
Copyright (c) 2016 Bennett Feely and Sara Soueidan.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

*/

.tcon {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    transition: 0.3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;
    background: transparent;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.tcon > * {
    display: block;
}

.tcon:hover, .tcon:focus {
    outline: none;
}

.tcon::-moz-focus-inner {
    border: 0;
}

.tcon-remove {
    height: 20px;
    position: relative;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    top: 20px;
    left: 29px;
    width: 40px;
}

.tcon-remove::before, .tcon-remove::after {
    content: "";
    display: block;
    height: 25%;
    width: 85%;
    position: absolute;
    top: 37%;
    left: 8%;
    transition: 0.3s;
    background: lightgrey;
}

.tcon-remove::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tcon-remove::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tcon-remove--chevron-down.tcon-transform::before {
    left: 5%;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    width: 55%;
}

.tcon-remove--chevron-down.tcon-transform::after {
    left: auto;
    right: 10%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 55%;
}

.tcon-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.tcon-visuallyhidden:active, .tcon-visuallyhidden:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.typo3-login-container {
    display: table-cell;
    vertical-align: initial;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    transition: transform 0.5s, top 0.5s, max-height 0.5s ease-in-out, opacity 0.8s;
    -webkit-transition: -webkit-transform 0.5s, top 0.5s, max-height 0.5s ease-in-out, opacity 0.8s;
    position: absolute;
    max-height: 1000px;
}

.typo3-login-container.login-collapse {
    transform: translate3d(-50%, -5%, 0);
    -webkit-transform: translate3d(-50%, -5%, 0);
    -ms-transform: translate3d(-50%, -5%, 0);
    top: 2%;
    max-height: 58px;
    overflow: hidden;
    opacity: 0.7;
    background-image: url('../picture/login-test-18-August-2016-15-42-test.png');
    background-size: cover;
}


.untenRechts.login-collapse {
    opacity: 0;
}
.typo3-login-container.login-collapse .background {
    background-image: none;
}
